<div class="container" [formGroup]="validateForm">
    <h2 class="text-center mb-4">Update Employee</h2>
    <div class="mb-3">
        <label for="firstName" class="form-label">First Name:</label>
        <input type="text" id="firstName" formControlName="firstName" class="form-control">
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last Name:</label>
        <input type="text" id="lastName" formControlName="lastName" class="form-control">
    </div>
    <div class="mb-3">
        <label for="emailId" class="form-label">Email:</label>
        <input type="email" id="emailId" formControlName="emailId" class="form-control">
    </div>
    <div class="text-center mb-3">
        <button type="button" (click)="updateUser()" class="btn btn-primary">Update Employee</button>
    </div>
</div>
