
<div class="container" *ngIf="users">
    <h2 class="text-center">Employee Dashboard</h2>
    
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm">
        </div>
        <button class="btn btn-primary" routerLink="/user">Add Employee</button>
    </div>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="font-weight-bold h4" (click)="sortUsers('id')" [ngClass]="{'hoverable': sortKey !== 'id'}">Emp Id</th>
                <th class="font-weight-bold h4" (click)="sortUsers('firstName')" [ngClass]="{'hoverable': sortKey !== 'firstName'}">First Name</th>
                <th class="font-weight-bold h4" (click)="sortUsers('lastName')" [ngClass]="{'hoverable': sortKey !== 'lastName'}">Last Name</th>
                <th class="font-weight-bold h4" (click)="sortUsers('emailId')" [ngClass]="{'hoverable': sortKey !== 'emailId'}">Email</th>
                <th class="font-weight-bold h4">Actions</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let user of displayedUsers">
                <td>{{user.id}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.emailId}}</td>
                <td>
                    <button class="btn btn-primary mr-2" routerLink="/user/{{user.id}}">Update</button>
                    <button class="btn btn-danger ml-10" (click)="deleteUser(user.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="users.length === 0" class="text-center">
        No employees found.
    </div>
    
    <!-- Pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" (click)="prevPage()" [class.disabled]="currentPage === 1">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item" *ngFor="let page of totalPages; let i = index" [class.active]="currentPage === page">
                <a class="page-link" href="#" (click)="setPage(page)">{{page}}</a>
            </li>
            <li class="page-item" (click)="nextPage()" [class.disabled]="currentPage === totalPages.length">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
